*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Built artifacts (sauf l'APK publié à la racine)
*.apk
!/PoCodex.apk
*.aab
*.ap_
*.aar

# Keystores
*.jks
*.keystore

# Logs
*.log
